/* color palette from <https://github.com/vuejs/theme> */
:root {
  --primary_color: #3EA748
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  /*color: var(--color-text);*/
  /*background: var(--color-background);*/
  font-size: 16px;
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1;
  font-family: Inter, sans-serif;
}

h1{
  font-size: 2.5rem;
  font-weight: 500;
}